<form class="form-horizontal" action='/insert' method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
            <a class="btn btn-success" href="/login">Login</a>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Name</label>
            <div class="controls">
                <input type="text" id="name" name="name" placeholder="Name" class="input-xlarge">
                <p class="help-block">Please provide your name</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                <p class="help-block">Please provide your E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="rePassword">Re-Password</label>
            <div class="controls">
                <input type="password" id="rePassword" name="re-password" placeholder="" class="input-xlarge">
                <p class="help-block">Password and Re-Password must be same.</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button type="sumbit" class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <h3>Get Data</h3>
        <div class="">
            <a href="/get-data">Fetch data</a>
            {{# each items}}
            <article class="">
                <div>Email : {{this.email}}</div>
                <div>UserName : {{this.password}}</div>
            </article>
            {{/each}}
        </div>
    </fieldset>
</form>
<h3>Welcome to Chat app</h3>
<ul id="messages-area"></ul>
<form id="form" onsubmit="return false;">
    <input id="new-message" type="text" /><button onclick="sendFunction()">Send</button>
</form>
<script  type="text/javascript" src="/socket.io/socket.io.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    var socket = io();

    function sendFunction() {
        socket.emit('new message', $('#new-message').val());
        $('#new-message').val('');
    }
    socket.on('chat message', function(msg) {
        $('#messages-area').append($('<li>').text(msg));
    });
</script>
